/**********************************/
/********** General CSS ***********/
/**********************************/
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: 'Lato', sans-serif;
    color: #454545;
    font-weight: 300;
    background: #000000;
}

.eslogo
{
    position: absolute;
    /* background-image: 'WhatsApp_Image_2022-12-05_at_6.31.52_PM-removebg-preview.png'; */
    /* margin: -450px auto -450px; */
    margin-top: 5;
    margin-left: 100px;
    /* margin-bottom: -3000; */
    width: 150px;
    height: 950px;
    transform-style: preserve-3d;
    /* transform: rotateX(-30deg);
    animation: animate 4s linear infinite; */

}
.iitjlogo
{
  position: absolute;
    /* background-image: 'WhatsApp_Image_2022-12-05_at_6.31.52_PM-removebg-preview.png'; */
    /* margin: -450px auto -450px; */
    margin-top: 20;
    margin-left: 1300px;
    /* margin-bottom: -3000; */
    width: 100px;
    height: 650px;
    transform-style: preserve-3d;
    /* transform: rotateX(-30deg);
    animation: animate 4s linear infinite; */

}
ul, li {
    list-style: none outside none;
  }
  /* basic menu styles */
  .nav-menu {
      /* position: relative; */
    display: block;
      background: #74adaa;
      width:fit-content;
      margin: -440px auto 450px;
      
  }
  .nav-menu > li {
    display: inline;
    float:left;			
      border-right:1px solid #333;
    position: relative;
  }
  .nav-menu > li:last-child {
    border-right: none;
  }
  .nav-menu li a {
    color: #fff;
      display: block;
      text-decoration: none;
      font-family: 'Roboto Condensed', sans-serif;	 
      font-smoothing: antialiased;
      text-transform: uppercase;
      overflow: visible;
      line-height: 20px;
      font-weight: 300;
      font-size: 14px;
      letter-spacing: 1px;
      padding: 15px 30px 15px 31px;			
  }
  
  /* animation domination */
  .three-d {   
    perspective: 200px;   
    transition: all .07s linear;
    position: relative;
  }
  
  .three-d:not(.active):hover {
    cursor: pointer;
  }
  
  .three-d:not(.active):hover .three, 
  .three-d:not(.active):focus .three {   
    transform: translateZ(-25px) rotateX(90deg);
  }
  
  .three {  
    transition: all .3s ease-out;   
    transform: translatez(-25px);   
    transform-style: preserve-3d;   
    pointer-events: none;
    position: absolute;
    top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
  }
  
  .front {  
    transform: rotatex(0deg) translatez(25px);
  }
  
  .back {   
    transform: rotatex(-90deg) translatez(25px);
    color: #FFE7C4;
  }
  
  .front, .back {
    display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgb(43, 43, 22);
      padding: 15px 30px 15px 31px;	
      color: white;	 
      pointer-events: none;   
      box-sizing: border-box;
  }
  .nav-menu li .active .front,
  .nav-menu li .active .back,
  .nav-menu li a:hover .front,
  .nav-menu li a:hover .back {
    background-color: yellow;   
    background-size: 5px 5px;
    background-position: 0 0, 30px 30px; 
      color: black;
     
  }
  .nav-menu ul {
    position: absolute;
    left: -40px;
      text-align: left;
      line-height: 40px;
      font-size: 10px;
      width: 200px; 
    transition: all 0.3s ease-in;   
    transform-origin: 0px 0px;  
    transform: rotateX(-90deg);   
      backface-visibility: hidden;
  }
  .nav-menu > li:hover ul {
    display: block;  
      transform: rotateX(0deg);
  }

  .text
  {
    margin: auto;
    /* position: absolute; */
    margin-left: -1000;
    /* padding-top: 200; */
    /* border: 5px solid; */
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding: 10px;
    /* width: 640px; 
    padding: 50px; */
    font-family: 'Arial', sans-serif;
    /* text-align: center; */
    padding: 50px 60px; 
    color: #ffffff;  
  }